.mat-card.todo-list {
    margin: 1em;
    padding: 0em;
}
.mat-card.todo-list .mat-list-base {
    padding-top: 0px;
}

.mat-card.todo-list .mat-checkbox {
    position: absolute;
    top:13px;
    left:13px;
    z-index: 1;
}

.mat-card.todo-list span.todo-title {
    margin-left: 2em;
}
.mat-card.todo-list span.todo-creation-date {
    font-style: italic;
    font-size: small;
    position: absolute;
    right: 5%;
}

.mat-card.todo-list span.todo-title.done,
.mat-card.todo-list span.todo-creation-date.done {
    text-decoration: line-through;
    opacity: 0.7;
}
