<div *ngIf="todoList$ | async as todos">
    <mat-card class="todo-list" *ngFor="let todo of todos">
        <mat-nav-list>
            <mat-list-item>
                <mat-checkbox (change)="toggleComplete($event, todo)" [checked]="todo.state==='DONE'" #checkbox>
                </mat-checkbox>
                <span class="todo-title" [ngClass]="{'done':checkbox.checked}">{{ todo.title }}</span>
                <span class="todo-creation-date" [ngClass]="{'done':checkbox.checked}" *ngIf="todo.creationDate">
                    [created on {{ todo.creationDate | date:'longDate' }}]
                </span>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
</div>