<div *ngIf="todoList$ | async as todos">
    <todo-add></todo-add>
    <mat-card class="todo-list" *ngFor="let todo of todos; index as tabIndex">
        <mat-nav-list>
            <mat-checkbox (change)="toggleComplete($event, todo)" [checked]="todo.state==='DONE'" #checkbox></mat-checkbox>
            <mat-list-item [routerLink]="['/todos', todo.id]">
                <span id="title" [ngClass]="{'done':checkbox.checked}">{{ todo.title }}</span>
                <span id="date" *ngIf="!checkbox.checked && todo.creationDate">
                    [created on {{ todo.creationDate | date:'longDate' }}]
                </span>
                <span id="date" *ngIf="checkbox.checked && todo.doneDate" class="done">
                    [done on {{ todo.doneDate | date:'longDate' }}]
                </span>
            </mat-list-item>
            <button id="delete" mat-icon-button color="warn" (click)="delete(todo.id, tabIndex)"
                matTooltip="Delete definitively the Todo" [matTooltipShowDelay]="300">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </mat-nav-list>
    </mat-card>
</div>