.navigate-bar {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 1%;
}

button#todoList {
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.detailed-todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card {
    width: 70%;
}

.mat-card-header .mat-checkbox {
    margin-right: 20px;
    position: relative;
    top: 21px;
}

.mat-card-header .mat-form-field {
    display: block;
    margin-left: 40px;
    margin-top: -45px;
    font-weight: 500;
}

.mat-card-header .mat-card-subtitle {
    margin-left: 40px;
    margin-top: -25px;
    margin-bottom: 30px;
}

.mat-card-content .mat-form-field {
    display: block;
}

textarea.mat-input-element {
    resize: none;
    height: 12em;
}
