<div class="navigate-bar" *ngIf="todo && todoList">
    <button id="previous" (click)="previousTodo()" [disabled]="isFirstTodo()"
        mat-stroked-button color="primary" matTooltip="Previous Todo" [matTooltipShowDelay]="300">&nbsp;
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button id="todoList" routerLink="/"
        mat-stroked-button color="primary" matTooltip="Go back to the Todo list" [matTooltipShowDelay]="300">
        <mat-icon>list</mat-icon>
    </button>
    <button id="next" (click)="nextTodo()" [disabled]="isLastTodo()"
        mat-stroked-button color="primary" matTooltip="Next Todo" [matTooltipShowDelay]="300">
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
</div>
<div class="detailed-todo-container" *ngIf="todo">
    <mat-card>
        <mat-card-header class="todo-detailed">
            <mat-card-title>
                <mat-checkbox (change)="toggleComplete($event, todo)" [checked]="todo.state==='DONE'"></mat-checkbox>
                <mat-form-field appearance="legacy">
                    <input matInput [(ngModel)]="todo.title" (change)="updateTitle($event)"
                        (keyup.control.enter)="updateTitle($event)">
                </mat-form-field>
            </mat-card-title>
            <mat-card-subtitle>{{ todo.creationDate | date:'longDate' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="todo.description" (change)="updateDescription($event)"
                    (keyup.control.enter)="updateDescription($event)"></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>